Django>=4.2
djangorestframework>=3.14
django-cors-headers
uvicorn
pydantic>=2
requests
python-dotenv

torch
transformers
sentencepiece
sentence-transformers
numpy
scipy
scikit-learn
faiss-cpu
onnxruntime

pdfplumber
PyMuPDF
pillow
chromadb
google-genai>=1.40