Django>=4.2
djangorestframework>=3.14
django-cors-headers
uvicorn
pydantic>=2
requests
python-dotenv
gunicorn

torch
transformers
sentencepiece
sentence-transformers
numpy
scipy
scikit-learn
faiss-cpu

pdfplumber
PyMuPDF
pillow
